Python_projects/202205_Training_homework/web_page/__pycache__/misc_fun.cpython-310.pyc
Python_projects/202205_Training_homework/web_page/__pycache__/views.cpython-310.pyc
Learning/pandas/.ipynb_checkpoints/pandas-checkpoint.ipynb
