{% extends "base.html" %}

{% block title %} Papildinformācija {% endblock %}

{% block content %}
<div>
    <p>Šis risinājums ir izveidots <strong>Python programmēšanas valodas</strong> apmācību ietvaros,
    kuru organizē <em>Rīgas Tehniskā Universitāte</em>.</p><br/>
    <p>Risinājuma sagatavošanā tika izmantoti sekojoši materiāli:
        <ul>
            <li>Python programmēšanas valodas kursa materiāli.</li>
            <li><em>Youtube: Tech With Tim</em> - <a href="https://www.youtube.com/watch?v=kng-mJJby8g" target="_blank">Make A Python Website As Fast As Possible!</a> - kā izveidot mājaslapu, izmantojot <a href="https://flask.palletsprojects.com/en/2.1.x/" target="—blank">Flask</a> pakotni.</li>
            <li><em>Youtube: Tech With Tim</em> - <a href="https://www.youtube.com/watch?v=9MHYHgh4jYc" target="_blank">HTTP Methods (GET/POST) & Retrieving Form Data</a> - kā pielietot GET un POST metodes, izmantojot <a href="https://flask.palletsprojects.com/en/2.1.x/" target="—blank">Flask</a> pakotni.</li>
            <li><em>GitHub: AiLab</em> - <a href="https://github.com/LUMII-AILab/Tezaurs/blob/master/wordlists/entries.txt" target="_blank">Tezaurs</a> - <a href="https://tezaurs.lv/" target="—blank">Tēzaurs</a> atvērtie dati.</li>
        </ul>
    </p>
</div>
{% endblock %}